<div class="w-128 rounded border-2 border-blue-600 bg-gray-50 hover:bg-gray-200 cursor-pointer mt-2 p-2" *ngIf="language">
    <div class="flex flex-row w-full">
        <h2 class="text-xl font-black w-8/12">{{ language.name }}</h2>
        <div class="w-4/12">
            <div class="float-right flex flex-row" *ngIf="language.code">
                <div class="px-2"><span [class]="'flag-icon flag-icon=' + language.code"></span></div>
            </div>
        </div>
    </div>
    <div class="flex-row" *ngIf="language.description">
        <p>({{ language.description }})</p>
    </div>
</div>
