<div class="flex flex-row md:flex-col w-screen h-16 md:h-screen md:w-64 bg-gradient-to-b from-green-600 via-teal-500 to-purple-400">
    <h1 class="text-4xl md:text-center p-4 font-black text-white">
               Lingo bank
    </h1>
    <div id="nav-buttons" class="flex flex-row md:flex-col flex-1 w-full md:h-32 bg-red-700">
        <a [routerLink]="['/home']" class="flex justify-center items-center border-2 rounded text-center h-16 w-full">
            <span>Home</span>
        </a>
    </div>
    <div id="controls" class="flex flex-row w-16 md:h-24 md:absolute md:bottom-0 md:left-0 md:w-64 bg-yellow-400">

    </div>
</div>