<div class="row p-2">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>Welcome</h1>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col">
                <button class="btn btn-primary">Add New Language</button>
                <button class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Hello</button>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col">
                <h3>Your Languages</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div *ngFor="let language of languages">
                    <a (click)="goToLanguageView(language.id)" class="language-link">{{ language.name }}</a>
                </div>

            </div>
        </div>
    </div>
</div>

